<!DOCTYPE html>

{% extends "base.html" %}

{% load staticfiles %}

{% block base_block %}

<link rel="stylesheet" href="{% static '/Styles/products/products.css' %}">

<section class="main-div">
        <article class="processor">
            <a href="#">
          <div class="article-image" style="background:url('/static/Images/processor1.webp')" ></div>
          <br/>
          PROCESSOR</a>
          </article>

        <article class="ram">
            <a href="#">  
          <div class="article-image" style="background:url('{% static '/Images/RAM.jpg' %}')" ></div>
            <br/>
            RAM</a>
          </article>
        <article class="card">
            <a href="#">
           <div class="article-image" style="background:url('/static/Images/graphiccard.jpg')" ></div>
          <br/>
          GRAPHICCARD</a>
        </article>
        <article class="cpu">
            <a href="#">
          <div class="article-image" style="background:url('/static/Images/cpu1.jpg')" ></div>
          <br/>
          CABINET</a>
        </article>
        <article class="harddisk">
            <a href="#">
          <div class="article-image" style="background:url('/static/Images/harddisk.webp')" ></div>
          <br/>
          HARD DISK</a>
        </article>
        <article class="motherboard">
            <a href="#">
          <div class="article-image" style="background:url('/static/Images/motherboard.webp')" ></div>
          <br/>
          MOTHERBOARD</a>
        </article>

      </section>


{% endblock %}